<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пользователи</title>
    <link rel="stylesheet" href="/resources/style.css"/>
</head>
<body>
<img class="logo-img-top" src="/resources/logo.png" alt="Логотип">
<div id="header">
    <h1>Админ-панель</h1>
</div>
<div id="content">
    <table class="datatable">
        <tr>
            <td>Идентификатор</td>
            <td>Имя</td>
            <td>Почта</td>
            <td>Действие</td>
        </tr>
        Список пользователей:
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/posts/{userId}(userId=${user.id})}">
                    <button class="button">Посты</button>
                </a>
                <a th:href="@{/users/update/{userId}(userId=${user.id})}">
                    <button class="button">Изменить 🔄</button>
                </a>
                <a th:href="@{/users/delete/{userId}(userId=${user.id})}">
                    <button class="button">Удалить ❌</button>
                </a>
            </td>
        </tr>
    </table>
</div>

<a class="top-right" href="/users/add">
    <input class="button" type="submit" value="Добавить пользователя">
</a>
</body>
</html>
